<body>
  <link rel="stylesheet" type="text/css" href="styles.css">

    <div class="md-toolbar-tools">
      <h2><span>Login Form</span></h2>
    </div>
  </md-toolbar>
  <md-card-content>
    <form name="Form">
      <md-input-container class="md-block">
        <div ng-messages="Form.email.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Please enter your email below:</div>
        </div>
        <label>Login<span style="color:red;">*</span></label>
        <input type="text" name="email" ng-model="vm.formData.email" placeholder="email" required=""/>
      </md-input-container>
      <md-input-container class="md-block">
        <div ng-messages="Form.password.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Please enter your password below:</div>
        </div>
        <label>Password<span style="color:red;">*</span></label>
        <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" required="" md-maxlength="16"/>
      </md-input-container>
      <div class="form-group">
        <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span><br>
      </div>
      <form>
        <input type="button" value="Login"
        onclick=""/>
      </form>
      <!-- <md-button ng-disabled="!Form.$valid" ng-click="vm.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button> -->
    </form>

</body>
