<body>
  <link rel="stylesheet" type="text/css" href="styles.css">
</body>


<style>
  div.transbox {
  margin: 2%;
  background-color: #ffffff;
  /*color: #ae3737;*/
  color: #503d3f;
  border: 1px solid black;
  /*opacity: 0.6;*/
  filter: alpha(opacity=60);
  }

  div.transbox p {
    margin: 3%;
    font-weight: bold;
  }
  .button {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }
  </style>
  </head>
  <body>

  <div class="background">
    <div class="transbox">
      <p>
        <h1 class="w3-jumbo ">Log In</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">  <div class="md-toolbar-tools">
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email below:</div>
              </div>
              <label>Login<span style="color:red;">*</span></label>
              <input type="text" name="email" ng-model="vm.formData.email" placeholder="email" required=""/>
            </md-input-container>
            <md-input-container class="md-block">
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password below:</div>
              </div>
              <label>Password<span style="color:red;">*</span></label>
              <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" required="" md-maxlength="16"/>
            </md-input-container>
            <div class="form-group">
              <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span><br>
            </div>
            <form>
              <a href="survey.html" class="button">Login</a>
            </form>
          </form></p>
        <div class="w3-display-middle">
    </div>
  </div>
</style>
