body {
    background-color: #FADAD8;
    font-family: Courier;
    color: #9B8281;
  }

h1 {
    font size: 900%;
    text-align: center;
  }
p {
    font size: 500%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
h4 {
  font-size: 150%;
}
