 body {
    /*background-color: #e6e6e6;*/
    /*background-color: #f2f2f2;*/
    /*background-color: #999999;/**/
    /*background-color: #e6f7ff;*/
  }
  h1 {
    /*color: #99ccff;*/
    color: #ae3737;
    font size: 600%;
    /*margin-top: 5%;*/
    text-align: center;
    font-family: sans-serif;
  }
  p {
    /*color: #99ccff;*/
    color: #ae3737;
    font size: 200%;
    text-align: center;
    font-family: sans-serif;
  }
